<div class="text-center">
    <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(0);">First</button>
    <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(pager.index - 1);">Prev</button>
    <button class="btn btn-primary" (click)="goTo(pager.index + 1);">Next</button>
    <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(pager.count - 1);">Last</button>
    <!--<pagination *ngIf="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>-->
</div>